#clock {
    background: white;
    border-radius: 4px;
    padding: 1rem;
}

#display {
    font-family: 'Fira Code';
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

#options {
    display: flex;
    justify-content: center;
}

#options label + label {
    margin-left: 1rem;
}