---
layout: base
---
{% if styles %}
{% set stylesUrl = ["/css/", styles] | join | url %}
<link href="{{ stylesUrl }}" rel="stylesheet">
{% endif %}

{{ content | safe }}

{% if script %}
{% set scriptUrl = ["/js/", script] | join | url %}
<script src="{{ scriptUrl }}"></script>
{% endif %}