[data-forecast] {
    padding: 0;
}

[data-forecast] li {
    background: white;
    border: 1px solid hsla(0, 0%, 0%, 20%);
    border-radius: 4px;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 3rem auto;
    padding: 1rem;
    transition: all 200ms ease-in-out;
}

[data-forecast] li + li {
    margin-top: 1rem;
}

[data-forecast] li .icon {
    border-radius: 4px;
    grid-row: 1 / span 2;
    width: 100%;
}

[data-forecast] li .period {
    font-weight: bold;
}

[data-forecast] li .details {
    font-size: 1rem;
}
